<mat-form-field class="example-full-width">
  <input matInput placeholder="БИН" [(ngModel)]="company.bin"  maxlength="12" minlength="12">
  <mat-hint align="end">{{company.bin.length}} / 12</mat-hint>
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Название" [(ngModel)]="company.name">
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="+7 Номер мобильного" [(ngModel)]="company.phoneNumber">
</mat-form-field>

<button class="example-full-width" (click)="setCompany()" color="primary" mat-button >Сохранить</button>
