<mat-form-field class="example-full-width">
  <input matInput placeholder="БИН" [(ngModel)]="company.bin">
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Название" [(ngModel)]="company.name">
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="+7 Номер мобильного" [(ngModel)]="company.phoneNumber">
</mat-form-field>

<button class="example-full-width" (click)="setCompany()" color="primary" mat-button >Сохранить</button>
