<mat-form-field class="example-full-width">
  <input matInput placeholder="БИН" [(ngModel)]="company.bin"  maxlength="12" minlength="12"
         #bin="ngModel" required>
  <mat-hint align="end">{{company.bin.length}} / 12</mat-hint>
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Название" [(ngModel)]="company.name" required>
</mat-form-field>
<mat-form-field class="example-full-width">
  <span matPrefix>+7 &nbsp;</span>
  <input matInput placeholder="Номер мобильного" [(ngModel)]="company.phoneNumber" required
         minlength="10" maxlength="10" #phone="ngModel">
</mat-form-field>

<button class="example-full-width" (click)="setCompany()" color="primary"
        [disabled]="bin.errors?.minlength || phone.errors?.minlength
                    || !company.bin || !company.phoneNumber"
        mat-button >Сохранить</button>
