<div *ngFor="let template of templateList">
  <mat-card class="example-card"
            style="color:blue; border: 1px solid blue;margin-bottom: 15px;">
    <div *ngIf="categoryList && sectionList">
      <p style="float: left;line-height: 0.1px;" class="mat-caption">{{getNameFromCategory(template.categoryId)}}</p>
      <br>
      <p style="clear:both;float: left;line-height: 0.1px;" class="mat-caption">{{getNameFromSection(template.sectionId)}}</p>
      <!--<span style="float: right" *ngIf="!data.isTest">{{template.section}}</span>-->
    </div>
    <br>
    <mat-card-content style="text-align: center; padding: 30px 0;">
      <h2>
        {{template.name}}
      </h2>
      <p >{{template.questionIdList.length}} вопросов</p>
    </mat-card-content>
    <div style="margin-bottom:36px;">
    <!--<span style="float: left">-->
      <!--<span>{{data.correct}}</span> - -->
      <!--<span style="color:red">{{data.mistake}}</span>-->
    <!--</span>-->
      <span style="float: left"><button  *ngIf="cookieService.get('role') === 'admin'" (click)="deleteTemplateById(template.id)" mat-button>Удалить шаблон</button></span>
      <span style="float: right"><button [routerLink]="'/test/' + template.id" mat-button>Сдать тест</button></span>

    </div>
  </mat-card>

</div>
