<mat-form-field class="example-full-width" style="margin-bottom:15px;">
  <input type="text" matInput placeholder="Поиск..."
         autocomplete="off" [(ngModel)]="searchText" (keyup)="search()">
  <mat-hint>По ФИО</mat-hint>
</mat-form-field>
<div *ngFor="let cat of categories;let i =index" style="padding-bottom:7%;">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle (click)="show(i)">
        <h4 style="color: #107ECC;cursor: pointer;">
          <div fxLayout="column" fxLayoutAlign="start start" fxFlex="80">
            <b style="float: left">{{cat.username}}/{{cat.name}}</b>
          </div>
          <div fxLayout="column" fxLayoutAlign="start end" fxFlex="20">
            <b style="float: right;color: #107ECC;cursor: pointer;">
              <span style="color:red;">{{cat.show}}</span>
            </b>
          </div>
        </h4>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngFor="let sect of cat.sections">
      <div *ngIf="cat.display" style="color: #107ECC;cursor: pointer;font-style: italic;">
        <p>{{sect.name}}
          &nbsp;
          <b style="float: right;color: #107ECC;cursor: pointer;">
            <span style="color:red;">{{sect.show}}</span>
          </b>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
