<mat-form-field class="example-full-width">
  <input matInput placeholder="Пароль" [(ngModel)]="password" type="password">
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Подтвердите пароль" [(ngModel)]="confirmPassword" type="password">
</mat-form-field>
<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-flat-button class="example-full-width" class="mat-warn"
          [disabled]="password != '' && confirmPassword!=password" (click)="setNewPassword()">Сохранить новый пароль
  </button>
</div>
