<div fxLayout="column" >
  <div *ngIf="userPrivilegeList" fxLayout="column">
    <button mat-button *ngIf="this.cookie.get('userId') && checkToAccess('question')" [routerLink]="['/question']"> <!--questionPR, staffRL, authorRL -->
      Создать вопрос
    </button>
    <button mat-button *ngIf="this.cookie.get('userId') && checkToAccess('question-category')" [routerLink]="['/question-category']"> <!--categoryPR -->
      Добавить категорию
    </button>
    <button mat-button *ngIf="this.cookie.get('userId') && checkToAccess('question-section')" [routerLink]="['question-section']"><!--sectionPR -->
      Добавить раздел
    </button>
    <button mat-button *ngIf="this.cookie.get('userId') && checkToAccess('question-moderation')" [routerLink]="['question-moderation']"><!--staffRL, question-moderationPL -->
      Модерация вопросов
    </button>
    <button mat-button *ngIf="this.cookie.get('userId') && checkToAccess('questions-list-section')" [routerLink]="['questions-list-section']"> <!--questionPR, staffRL, authorRL -->
      Список вопросов
    </button>
    <button mat-button *ngIf="this.cookie.get('userId') && checkToAccess('demo')" [routerLink]="['demo']"><!--staffRL, question-templatePL -->
      Создать шаблон теста
    </button>
    <button mat-button *ngIf="this.cookie.get('userId') && checkToAccess('demo-list')" [routerLink]="['demo-list']"><!--staffRL, question-templatePL -->
      Список шаблон теста
    </button>
    <!--<button mat-button [routerLink]="['test']">-->
    <!--Сдать тест-->
    <!--</button>-->
    <button mat-button *ngIf="this.cookie.get('userId') && checkToAccess('registration')" [routerLink]="['registration']"><!--staffRL, usersPL-->
      Добавить пользователя
    </button>
    <button mat-button *ngIf="this.cookie.get('userId') && checkToAccess('users')" [routerLink]="['users']"><!-- usersPL-->
      Список пользователей
    </button>
  </div>
  <button mat-button *ngIf="this.cookie.get('userId')" [routerLink]="['/profile']">
    Мой профиль
  </button>
  <button mat-button *ngIf="!this.cookie.get('userId')" [routerLink]="['/login-phone']">
    Вход
  </button>
  <button mat-button *ngIf="this.cookie.get('userId')" (click)="logout()">
    Выход
  </button>

</div>
