<div fxLayout="column">
  <button mat-button *ngIf="this.cookie.get('userId') && (this.cookie.get('role') === 'admin')" [routerLink]="['/question']">
    Создать вопрос
  </button>
  <button mat-button *ngIf="this.cookie.get('userId') && (this.cookie.get('role') === 'admin')" [routerLink]="['/question-category']">
    Добавить категорию
  </button>
  <button mat-button *ngIf="this.cookie.get('userId') && (this.cookie.get('role') === 'admin')" [routerLink]="['question-section']">
    Добавить раздел
  </button>
  <button mat-button *ngIf="this.cookie.get('userId') && (this.cookie.get('role') === 'admin')" [routerLink]="['question-moderation']">
    Модерация вопросов
  </button>
  <button mat-button *ngIf="this.cookie.get('userId') && (this.cookie.get('role') === 'admin')" [routerLink]="['questions-list-section']">
       Список вопросов
  </button>
  <button mat-button *ngIf="this.cookie.get('userId') && (this.cookie.get('role') === 'admin')" [routerLink]="['demo']">
        Создать шаблон теста
  </button>
  <button mat-button *ngIf="this.cookie.get('userId') && (this.cookie.get('role') === 'admin')" [routerLink]="['demo-list']">
    Список шаблон теста
  </button>
  <!--<button mat-button [routerLink]="['test']">-->
       <!--Сдать тест-->
  <!--</button>-->
  <button mat-button *ngIf="this.cookie.get('userId') && (this.cookie.get('role') === 'admin')" [routerLink]="['registration']">
       Добавить пользователя
  </button>
  <button mat-button *ngIf="this.cookie.get('userId') && (this.cookie.get('role') === 'admin')" [routerLink]="['users']">
    Список пользователей
  </button>
  <button mat-button *ngIf="this.cookie.get('userId')" [routerLink]="['/profile']">
    Мой профиль
  </button>
  <button mat-button *ngIf="!this.cookie.get('userId')" [routerLink]="['/login-phone']">
    Вход
  </button>
  <button mat-button *ngIf="this.cookie.get('userId')" (click)="logout()">
    Выход
  </button>

</div>
