p small {
  cursor: pointer;
  text-decoration: underline;
}

.mat-form-field-infix {
  width:300px !important;
}
.mat-card{
  border-style: solid;
  border-color: coral;
}
.right{
  color: lawngreen!important;
  font-weight: bold;
}
.wrong{
  color: red;
}
.grey-color{
  color: rgb(153, 151, 151) !important;
}
