<div *ngIf="data">
  <div *ngIf="code === 'test'">
    <mat-card class="example-card"
              style="color: #107ECC; border: 1px solid #107ECC;margin-bottom: 15px;">
      <div>
        <p style="float: left;line-height: 0.1px;" class="mat-caption">{{data.template.name}}</p>
        <br>
        <p style="clear:both;float: left;line-height: 0.1px;"
           class="mat-caption">{{data.company.name}}</p>
      </div>
      <br>
      <mat-card-content style="text-align: center; padding: 30px 0;">
        <h2>{{data.categoryName.name}}</h2>
        <h2>
          {{data.sectionName.name}}
        </h2>
        <p>{{data.template.questionIdList.length}} вопросов</p>
      </mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span style="float: left">{{data.templateResult.length + 1}}</span>

        <span style="float: right"><button [routerLink]="'/test/' + data.template.id" mat-button>Сдать тест</button></span>
      </div>
    </mat-card>
  </div>
  <div *ngIf="code === 'exam'">
    <mat-card class="example-card" style="border:1px solid black;" *ngIf="main">
      <div>
        <span style="float: left"><span class="custom-text" *ngIf="data.template">{{data.template.name}}</span>
          <br>
          <span >{{data.company.name}}</span>
        </span>

        <span style="float:right;">
          <button mat-icon-button [matTooltip]="'Настройка'" [routerLink]="'/exam-setting/'+data.examination.id"
                  *ngIf="userRole === 'admin' || (data.examination.examinatorUserId === userId && userRole === 'staff')">
            <mat-icon>settings</mat-icon>
          </button>
        </span>
      </div>
      <br>
      <mat-card-content style="text-align: center; padding: 30px 0;">
        <p class="mat-caption custom-text" style="font-size: 1.2em">
          {{data.categoryName.name}}
        </p>
        <p class="mat-caption custom-text" *ngIf="data.template" style="font-size: 1.2em">
          {{data.template.questionIdList.length}} вопросов
        </p>
        <p class="mat-caption custom-text" style="font-size: 1.2em">{{data.sectionName.name}}</p>
        <p class="mat-caption hell">{{getFormattedDate(data.examination.date)}}</p>
        <p class="mat-caption hell">{{data.examination.startTime}}</p>
        <p class="mat-caption hell">{{data.cityName.name}}</p>
        <p class="mat-caption hell">{{data.examination.address}}</p>
      </mat-card-content>
      <mat-card-actions>
        <div fxFlex="100" fxLayoutAlign="space-between center">
          <div>
            <b *ngIf="data.examination.participantList"
               class="custom-text">Заявки {{getSize(data.examination.participantList)}}</b>
            <b *ngIf="!data.examination.participantList" class="custom-text">Заявки 0</b>
            <button mat-raised-button class="mat-accent"
                    *ngIf="!existInExam(data.examination) || restartExam(data.examination)"
                    (click)="participate(data.examination.id,data.examination.participantList)">
              Записаться
            </button>
            <span *ngIf="existInExam(data.examination)
                      && getStatus(data.examination) === 'pending'">Заявка на рассмотрении</span>
            <button mat-raised-button class="mat-warn"
                    [routerLink]="'/test/'+data.examination.templateId+'/'+data.examination.id"
                    *ngIf="(existInExam(data.examination) && getStatus(data.examination) === 'active') ">
              Начать
            </button>
          </div>

<!--          <button mat-raised-button class="mat-primary"-->
<!--                  [routerLink]="'/exam-setting/'+data.examination.id"-->
<!--                  *ngIf="userRole === 'admin' || (data.examination.examinatorUserId === userId && userRole === 'staff')">-->
<!--            Настройка-->
<!--          </button>-->
        </div>
      </mat-card-actions>
    </mat-card>

    <div *ngIf="!main">
      <div fxLayout="row" fxLayoutAlign="center center" style="text-align: center">
        <h4 *ngIf="this.userId" style="color: #107ECC;">Вы записаны на экзамен!</h4>
        <h3 *ngIf="!this.userId">
          На экзамен могут записаться только зарегистрированные пользователи. Регистрация проходит в учебных центрах.
          <div fxLayout="column" fxLayoutAlign="space-around start" style="margin-top: 25px;">
            <div
              [routerLink]="'/study-center'"
              style="margin-top: 10px; background: #107ECC; width: 99%; cursor: pointer;color: white; text-align: center;">
              <div style="margin: 13px auto">
                Учебные центры
              </div>
            </div>
          </div>
        </h3>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!data" fxLayoutAlign="center center" fxLayout="row">
  <mat-spinner diameter="40"></mat-spinner>
</div>
