
<div *ngIf="loading" fxLayoutAlign="center center" fxLayout="row">
  <mat-spinner diameter="40"></mat-spinner>
</div>

<div *ngFor="let company of companyList;let i = index;"
     fxLayout="row" >
  <div style="border: 1px solid orange;color:orange; border-radius:7px;width:300px; margin-bottom: 15px; font-size: 14px;" class="{{company.status}}-company">
    <div style="margin:7px;">
      <b>{{company.name}}</b>
      <br>
      <div style="margin-top:10px; color:#107ECC;">
        <b>&nbsp;+7{{company.phoneNumber}}</b>
      </div>
    </div>
  </div>
</div>
