/*::ng-deep .mat-horizontal-stepper-header-container {*/
  /*display: none !important;*/
/*}*/
/*.mat-horizontal-stepper-header{*/
  /*pointer-events: none !important;*/
/*}*/
.displaying{
  display:none!important;
}
::ng-deep .mat-horizontal-content-container{
  padding: 0 !important;
}
::ng-deep .mat-radio-label{
  word-break: break-word;
  white-space: unset !important;
}
::ng-deep .mat-horizontal-stepper-header-container{
  flex-wrap: wrap;
  padding: 0px !important;
}
.mat-horizontal-stepper-header-container{
  flex-wrap: wrap;
  padding:0px !important;
}
::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  padding: 0px!important;
}

.mat-horizontal-stepper-header{
  pointer-events: none !important;
}.mat-horizontal-stepper-header-container{
  display: none !important;
 }
 ::ng-deep .mat-horizontal-stepper-header-container{
   display: none !important;
 }
::ng-deep .mat-horizontal-content-container{
  width: 100%;
}
.activecust{
  color: white!important;
  background: #107ECC;
}
.selectedcust{
  background: lightseagreen;
}
.selectedcustborder{
  border: 1px solid #107ECC!important;
  color: #107ECC;
  
}
.not_full{
  display: none;
  background: grey !important;
  cursor: default!important;
}
