<!--<div *ngFor="let question of questions;let i = index">-->
<!--<p>{{question.description}}</p>-->
<!--<mat-radio-group [disabled]="finish" name="{{question.docId}}" *ngFor="let answer of question.answers;let j = index">-->
<!--<mat-radio-button (change)="answerSave(question.docId,i,j)" value="{{j}}">{{answer.answer}}</mat-radio-button><br>-->
<!--</mat-radio-group>-->
<!--<hr>-->
<!--</div>-->
<div *ngIf="template">
  <div *ngIf="template.isExamTemplate && !fiinishNew" layout="row" style="text-align: center">
    <b>00:{{time}}</b>
    <br>
  </div>

  <b *ngIf="questions && !finish">Вопрос {{currentStep + 1}} из {{questions.length}}</b>
  <mat-horizontal-stepper *ngIf="questions && !finish" labelPosition="bottom"
                          fxLayout="column" fxLayoutAlign="center start"
                          [selectedIndex]="currentStep" #stepper linear>
    <mat-step [editable]="false" *ngFor="let question of questions;let i = index;">
      <p style="color: #107ECC;font-size: 1.2em;" *ngIf="!finish ">{{question.description}}</p>
      <mat-form-field *ngIf="false"><input matInput></mat-form-field>
      <!--<mat-radio-group [disabled]="finish" name="{{question.docId}}"-->
      <!--*ngFor="let answer of question.answers;let j = index" required>-->
      <!--<mat-radio-button (change)="answerSave(question.docId,i,j)" value="{{j}}">{{answer.answer}}</mat-radio-button>-->
      <!--<br>-->
      <!--</mat-radio-group>-->

      <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="question.answers.length === 2" style="margin-top: 120px;">
        <div *ngFor="let answer of question.answers; let j = index;">
          <button mat-raised-button [disabled]="finish"
                  style="width: 125px;height:40px;font-size: 1.2em;"
                  (click)="answerSave(question.docId, i, j)" class="mat-warn"
                  [ngClass]="{activecust: j === 0, selectedcust: selectedAnswer == j,not_selected: selectedAnswer != j && selectedAnswer != -1}">{{answer.answer}}</button>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="space-around start" *ngIf="question.answers.length === 4 && !finish">
        <div *ngFor="let answer of question.answers; let j = index"
             style="margin-top: 10px; border: 1px solid gray ; width: 99%; cursor: pointer;"
             [ngClass]="{selectedcustborder: selectedAnswer == j}"
             (click)="answerSave(question.docId, i, j)">
          <div style="margin: 17px auto">
            &nbsp;&nbsp;<b>{{j + 1}}</b>. &nbsp;{{answer.answer}}
          </div>
        </div>
      </div>

      <div *ngIf="!template.isExamTemplate" fxLayout="column" fxLayoutAlign="space-around start" style="margin-top: 25px;">
        <div
          [ngClass]="{not_full: nextQes}"
          (click)="nextQESTIONNEW()"
          style="margin-top: 10px; background: #107ECC; width: 99%; cursor: pointer;color: white; text-align: center;">
          <div style="margin: 13px auto">
            Ответить
          </div>
        </div>
      </div>

      <button *ngIf="i !== (questions.length - 1) && template.isExamTemplate" mat-button (click)="nextQ()"
              style="float:right;" mat-raised-button class="mat-primary">Следующий вопрос
      </button>
      <!--<button *ngIf="!template.isExamTemplate" mat-button (click)="nextQESTIONNEW()"-->
              <!--style="float:right;" mat-raised-button class="mat-primary">Следующий вопрос-->
      <!--</button>-->
      <div *ngIf="i === (questions.length - 1)">

        <!--<button mat-button [disabled]="saveAns || finish" (click)="save()" style="float:right;">Сохранить</button>-->

      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <div *ngIf="finish">
    Вы набрали {{pointTotal}} баллов из {{pointMust}}.
    <app-test-result [company]="companyInfo" [data]="dataForResult" [companyId]="template.companyId"></app-test-result>
  </div>
</div>
