<div *ngIf="main">
  <div *ngIf="!isFiltering" style="margin-bottom:15px;">
    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Поиск..."
             autocomplete="off" [(ngModel)]="searchText"
             [matTooltip]="'По адресу, названию компании, категории и секции'">
      <button mat-icon-button matSuffix (click)="search()" [disabled]="searchText.trim().length === 0 || loading">
        <mat-icon>search</mat-icon>
      </button>
      <mat-hint>Нажмите для поиска</mat-hint>
      <button mat-icon-button matSuffix matTooltip="Показать фильтр" (click)="showFilter()">
        <mat-icon>filter_list</mat-icon>
      </button>
      <button mat-icon-button matSuffix (click)="handleSearchString()" [disabled]="disableReset " mattooltip="Сбросить">
        <mat-icon>clear</mat-icon>
      </button>

    </mat-form-field>
  </div>
  <div *ngIf="isFiltering">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Компания" [(ngModel)]="filterTemplate.companyId">
        <mat-option *ngFor="let company of companyList" [value]="company.id">
          {{company.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Категория" [(ngModel)]="filterTemplate.categoryId" required
                  (selectionChange)="getSectionsByCategory($event)">
        <mat-option *ngFor="let category of categoryList" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Раздел" [(ngModel)]="filterTemplate.sectionId" [disabled]="sectionSelectDisable">
        <mat-option *ngFor="let section of categorySectionList" [value]="section.id">
          {{section.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayoutAlign="center center" fxLayout="row">
      <button mat-raised-button class="mat-accent" (click)="getFilteredExamTemplateList()">Показать результаты</button>
      <button mat-icon-button (click)="handleRestoreFilter()" matTooltip="Сбросить">
        <mat-icon>settings_backup_restore</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="loading" fxLayoutAlign="center center" fxLayout="row">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <div *ngIf="examList && examList.length > 0">
    <div *ngFor="let exam of examList; trackBy: trackByFn;let i = index;" style="padding-top: 10px;">
      <mat-card class="example-card" style="border:1px solid black;">
        <div>
        <span style="float: left">{{getNameFromCategory(exam.categoryId)}}
          <br>
          <span class="custom-text">{{getCompanyNameById(exam.companyId)}}</span>
        </span>
          <span *ngIf="userRole === 'admin' || (exam.examinatorUserId === userId && userRole === 'staff')"
                style="float: right;cursor:pointer;" matTooltip="Архивировать"
                (click)="archiveExam(exam.id,i)">
            <mat-icon>clear</mat-icon>
          </span>
        </div>
        <br>
        <mat-card-content style="text-align: center; padding: 30px 0;">
          <h2 *ngIf="shortTemplateList.length > 0">
            <span class="custom-text">{{getTemplateNameById(exam.templateId)}}</span>
          </h2>
          <p class="mat-caption custom-text" *ngIf="shortTemplateList.length > 0" style="font-size: 1.2em">
            {{getTemplateQuestionLengthById(exam.templateId)}} вопросов
          </p>
          <p class="mat-caption hell">{{getNameFromSection(exam.sectionId)}}</p>
          <p class="mat-caption hell">{{getFormattedDate(exam.date)}}</p>
          <p class="mat-caption hell">{{exam.startTime}}</p>
          <p class="mat-caption hell">{{getNameFromCity(exam.cityId)}}</p>
          <p class="mat-caption hell">{{exam.address}}</p>
        </mat-card-content>
        <mat-card-actions>
          <div fxFlex="100" fxLayoutAlign="space-between center">
            <b *ngIf="exam.participantList" class="custom-text">Заявки {{getSize(exam.participantList)}}</b>
            <b *ngIf="!exam.participantList" class="custom-text">Заявки 0</b>

            <button mat-icon-button [routerLink]="'/preliminary-start/exam/' + exam.id"
                    class="custom-text"
                    matTooltip="Перейти">
              <mat-icon class="custom-text">redo</mat-icon>
            </button>
          </div>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div *ngIf="!examList || examList.length === 0" fxLayout="row" fxLayoutAlign="center center">
    Список пуст
  </div>
</div>

<div *ngIf="!main">
  <div fxLayout="row" fxLayoutAlign="center center" style="text-align: center">
    <h4 *ngIf="this.userId" style="color: #107ECC;">Вы записаны на экзамен!</h4>
    <h3 *ngIf="!this.userId">
      На экзамен могут записаться только зарегистрированные пользователи. Регистрация проходит в учебных центрах.
      <div fxLayout="column" fxLayoutAlign="space-around start" style="margin-top: 25px;">
        <div
          [routerLink]="'/study-center'"
          style="margin-top: 10px; background: #107ECC; width: 99%; cursor: pointer;color: white; text-align: center;">
          <div style="margin: 13px auto">
            Учебные центры
          </div>
        </div>
      </div>
    </h3>
  </div>
</div>
