<div *ngFor="let exam of examList; trackBy: trackByFn" style="padding-top: 10px;">
  <mat-card class="example-card" style="border:1px solid black;">
    <div>
      <span style="float: left">{{getNameFromCategory(exam.categoryId)}}</span>
      <span style="float: right">{{exam.address}}</span>
    </div>
    <br>
    <mat-card-content style="text-align: center; padding: 30px 0;">
      <h2 *ngIf="shortTemplateList.length > 0">
        {{getTemplateNameById(exam.templateId)}}
      </h2>
      <p class="mat-caption">{{getNameFromSection(exam.sectionId)}}</p>
      <p class="mat-caption">{{getFormattedDate(exam.date)}}</p>
      <p class="mat-caption">{{exam.startTime}}</p>
    </mat-card-content>
    <mat-card-actions>
      <div fxFlex="100" fxLayoutAlign="center center">
        <button mat-raised-button class="mat-primary"
                [routerLink]="'/exam-setting/'+exam.id"
                *ngIf="userRole === 'admin' || (exam.examinatorUserId === userId && userRole === 'staff')">
          Настройка
        </button>
        <div>
          <button mat-raised-button class="mat-accent"
                  *ngIf="!existInExam(exam)"
                  (click)="participate(exam.id,exam.participantList)">
            Записаться
          </button>
          <span *ngIf="existInExam(exam)
                      && getStatus(exam) === 'pending'">Заявка на рассмотрении</span>
          <button mat-raised-button class="mat-warn"
                  [routerLink]="'/test/'+exam.templateId+'/'+exam.id"
                  *ngIf="existInExam(exam) && getStatus(exam) === 'active'">
            Начать
          </button>
        </div>
      </div>
    </mat-card-actions>
    <!--<div style="margin-bottom:36px;">-->
    <!--<span style="floaet: left">-->
    <!--<span>{{data.correct}}</span> - -->
    <!--<span style="color:red">{{data.mistake}}</span>-->
    <!--</span>-->
    <!--<span style="float: right">{{data.score}} балл</span>-->
    <!--</div>-->
  </mat-card>
</div>
