<div *ngIf="user">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ИИН" [(ngModel)]="user.idn" disabled>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Фамилия" [(ngModel)]="user.lastname" disabled>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <input matInput placeholder="Имя" [(ngModel)]="user.firstname" disabled>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Пол" [(ngModel)]="user.gender" disabled>
      <mat-option *ngFor="let gen of gender" [value]="gen.code">
        {{gen.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Город" [(ngModel)]="user.city" disabled>
      <mat-option *ngFor="let city of cities" [value]="city.code">
        {{city.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="date" matInput placeholder="Дата рождения " disabled [(ngModel)]="user.birthdate">
  </mat-form-field>

  <mat-form-field class="example-full-width">

    <input matInput placeholder="Номер телефона" disabled [(ngModel)]="user.phoneNumber">
  </mat-form-field>
  <!--<hr>-->
  <!--<mat-grid-list cols="2" rowHeight="2:1">-->
  <!--<mat-grid-tile><button mat-button >Отменить</button></mat-grid-tile>-->
  <!--<mat-grid-tile><button mat-button >Сохранить</button></mat-grid-tile>-->
  <!--</mat-grid-list>-->
</div>
