<div *ngIf="user">
  <mat-expansion-panel style="margin-bottom:20px;" *ngIf="examHistory.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>Мои результаты </mat-panel-title>
      <mat-panel-description>
        <!--{{question.description}}-->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let exam of examHistory">
      <div style="border: 1px solid black; margin-bottom:3%;border-radius:7px;">
        <div style="margin:7px;">
          <b>Название шаблона:</b>{{exam.title}}
          <br>
          <b>Категория:</b>{{exam.category}}
          <br>
          <b>Секция:</b>{{exam.section}}
          <br>
          <b>Отвечено:</b><span style="color: green;">{{exam.correct}}</span>/<span style="color:red">{{exam.mistake}}</span>
          <br>
          <b>Балл:</b>{{exam.score}}
        </div>
      </div>
    </div>
    <br>
  </mat-expansion-panel>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="ИИН" [(ngModel)]="user.idn" disabled>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Фамилия" [(ngModel)]="user.lastname" disabled>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <input matInput placeholder="Имя" [(ngModel)]="user.firstname" disabled>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Пол" [(ngModel)]="user.gender" disabled>
      <mat-option *ngFor="let gen of gender" [value]="gen.code">
        {{gen.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Город" [(ngModel)]="user.city" disabled>
      <mat-option *ngFor="let city of cities" [value]="city.code">
        {{city.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="date" matInput placeholder="Дата рождения " disabled [(ngModel)]="user.birthdate">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Номер телефона" disabled [(ngModel)]="user.phoneNumber">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Пароль" [(ngModel)]="newPassword">
  </mat-form-field>
  <button mat-flat-button class="example-full-width" (click)="setNewPassword()">Сохранить новый пароль</button>

</div>
